    <!-- Table Responsive Header -->
  
    <ul class="breadcrumb breadcrumb-top">
        <li><a routerLink="/home">Home</a></li>
        <li>Division</li>
    </ul>
    <!-- END Table Responsive Header -->

    <!-- Responsive Full Block -->
    <div class="block">
        <!-- Responsive Full Title -->
        <div class="block-title">
            <div class="block-options pull-right">
                <a href="#" routerLink="/teacherstudent/division/new"  class="btn  btn-sm btn-primary" ><i class="fa fa-plus"></i></a>
                       
            </div>
            <h2><strong>Manage </strong> Division</h2>
        </div>
        <div class="table-responsive">
            <table class="table table-vcenter table-striped">
                <thead>
                    <tr>
                        <th class="text-center">#</th>
                        <th>Name</th>
                        <th>Sub Name</th>
                        <th  class="text-center">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let rows of division; let i = index">
                        <td>{{rows._id}}</td>
                        <td class="text-capitalize">{{rows.name}}</td>
                        <td class="text-capitalize">{{rows.subname}}</td>
                        <td class="text-center">
                            <div class="btn-group btn-group-xs" *ngIf="rowsDeleteIndex !== i">
                                <a href="javascript:void(0)"  routerLink="{{rows._id}}/edit" title="Edit" class="btn btn-default"><i class="fa fa-pencil"></i></a>
                                <a href="javascript:void(0)" (click)="rowsDeleteIndex = i" title="Delete" class="btn btn-danger"><i class="fa fa-times"></i></a>
                                  

                            </div>
                              <div *ngIf="rowsDeleteIndex === i">
                               <span *ngIf="deleteRecord == true"  class="delete-spin"><i class="fa fa-spinner fa-spin fa-3x"></i></span>
                                <p class="confirm-message">Do you confirm delete?</p>
                                <button (click)="deleteRows(rows._id)"
                                         class="btn btn-success">Yes</button>
                                <button (click)="rowsDeleteIndex = undefined"
                                         class="btn btn-danger">No</button>
                              </div>
                        </td>
                    </tr>
                    <tr *ngIf="listalert !=''">

                        <td colspan="5" align="center">{{listalert}} </td>
                    </tr>
                   
                </tbody>
            </table>
        </div>
        <div class="row" *ngIf="totalpages !==0">
        <div class="col-sm-5 hidden-xs">

        </div>
            <div class="col-sm-7 col-xs-12 clearfix">
                <div class="dataTables_paginate paging_bootstrap">
                    <ul class="pagination pagination-sm remove-margin">
                          <li  class="prev" [ngClass]="{'disabled': currentPage == 1}">
                              <a href="javascript:void(0)" (click)="setPage(currentPage - 1)"  ><i class="fa fa-chevron-left"></i> 
                            </a>               
                        </li>
                        <li class="next"  [ngClass]="{'disabled': currentPage == totalpages || totalpages == 0}"><a href="javascript:void(0)" (click)="setPage(currentPage + 1)"> <i class="fa fa-chevron-right"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- END Responsive Full Content -->
    </div>
    <!-- END Responsive Full Block -->


<!-- <section id="rentalListing">
  <h1 class="page-title">Your Home All Around the World</h1>
  <div class="row">
    <div class='col-md-3 col-xs-6' *ngFor="let rental of rentals">
      <bwm-rental-list-item [rental]="rental"> </bwm-rental-list-item>
    </div>
  </div>
</section>
 -->