@import 'variables';

.navbar {
  padding: 20px;
  margin-bottom: 40px;

  .bwm-search {
    height: 50px;
    width: 300px;
  }

  .navbar-brand {
    margin-right: 30px;
    font-size: 30px;
    letter-spacing: 1px;
    color: $main-color;
    font-weight: 500;

    img {
      margin-top: 15px;
      height: 20px;
    }
  }

  .nav-item {
    font-size: 14px;
  }

  .btn-bwm-search {
    border-color: $main-color;
    color: $main-color;

    &:hover, &:focus, &:active {
      background-color: transparent;
      border-color: $main-color !important;
      color: $main-color !important;
      box-shadow: none;
    }
  }

  .dropdown-item {
    font-size: 14px;

    &:active, &:focus {
      background-color: $main-color;
    }
  }
}
#sidebar{
  overflow-y:auto;
}
#sidebar::-webkit-scrollbar {
  width: 8px;
}


/* Track */
#sidebar::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
#sidebar::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
#sidebar::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
#sidebar .submenu{
  display:block !important;
}