<ul class="breadcrumb breadcrumb-top">
    <li><a routerLink="/home">Home</a></li>
    <li><a routerLink="/teacherstudent/material">Manage Material</a></li>
    <li>Edit Material</li>
</ul>

<div class="block">
    <!-- Horizontal Form Title -->
    <div class="block-title">
        <div class="block-options pull-right">
            <a href="#" routerLink="/teacherstudent/material"  class="btn btn-sm btn-primary" ><i class="fa fa-angle-left"></i></a>
        </div>
      <h2><strong>Edit </strong> Material</h2>
    </div>
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
    <!-- Horizontal Form Content -->
    <form #MaterialForm="ngForm" >
      <div class="form-group col-md-12">
            <label class="col-md-3">Division</label>
            <div class="col-md-6">

            <select class="form-control" id="division" name="division" [(ngModel)]="material.division">
              <option *ngFor="let division of divisionlist" [ngValue]="division._id"> {{division.name}} </option>

            </select>
          </div>
      </div>

    <div class="form-group col-md-12">
        <label for="category" class="col-md-3">Material Type</label>
        <div class="col-md-6">

        <select class="form-control" id="type" name="type" [(ngModel)]="material.type" >
          <option value="study">Study Material</option>
          <option value="video">Video Material</option>

        </select>
        </div>
      </div>
      <div class="form-group col-md-12"  >
          <label for="category" class="col-md-3">Preview Image</label>
          <div class="col-md-6">

            <input type="file" accept='image/*' name="previewimage" [(ngModel)]="material.previewimage" (change)="getimageFile($event,'image')" >
            <img  src={{previewImageString}} alt="" id="img" height="100px" width="100px">

          </div>
      </div>

     <div class="form-group col-md-12" *ngIf="material.type == 'video'">
            <label for="category" class="col-md-3">URL</label>
            <div class="col-md-6">

              <input type="text" name="url" id="url" [(ngModel)]="material.url" class="form-control">

            </div>
      </div>

        <div class="form-group col-md-12" *ngIf="material.type == 'study'">
            <label class="col-md-3 control-label" for="example-hf-email">Upload File</label>
            <div class="col-md-6">
              <input type="file" accept='application/pdf' name="tmppdf"  [(ngModel)]="material.pdffile"  (change)="getimageFile($event,'pdf')">
              <a href="{{base64textString}}" >{{material.file}}</a>
            </div>
        </div>
        <div class="form-group form-actions">
            <div class="col-md-6 col-md-offset-3">
                  <button (click)="updateMaterial()"
                        [disabled]="!MaterialForm.form.valid  || disableloading==true"
                        type="button"
                        class="btn btn-sm btn-primary" name="Submit"><span *ngIf="disableloading"> Loading...</span> Submit
                </button>&nbsp; &nbsp;
               
                <button type="reset" name="reset" class="btn btn-sm btn-warning"><i class="fa fa-repeat"></i> Reset</button>
            </div>
        </div>
   </form>
    </div></div>
    <!-- END Horizontal Form Content -->
</div>
<!-- END Horizontal Form Block -->

    <!-- END Horizontal Form Title -->
