                        <!-- Mini Top Stats Row -->
                        <div class="row">
                            <div class="col-sm-6 col-lg-4">
                                <!-- Widget -->
                                <a routerLink="/users" class="widget widget-hover-effect1">
                                    <div class="widget-simple">
                                        <div class="widget-icon pull-left themed-background-autumn animation-fadeIn">
                                            <i class="fa fa-users"></i>
                                        </div>
                                        <h3 class="widget-content text-right animation-pullDown">
                                             <strong> {{homeData['users']}}</strong><br>
                                            <small> Today New Users</small>
                                        </h3>
                                    </div>
                                </a>
                                <!-- END Widget -->
                            </div>
                            <div class="col-sm-6 col-lg-4">
                                <!-- Widget -->
                                <a routerLink="/pressnote" class="widget widget-hover-effect1">
                                    <div class="widget-simple">
                                        <div class="widget-icon pull-left themed-background-spring animation-fadeIn">
                                            <i class="fa fa-newspaper-o"></i>
                                        </div>
                                        <h3 class="widget-content text-right animation-pullDown">
                                            <strong>{{homeData['pressnote']}}</strong><br>
                                            <small>Today Press Notes(Prakash/Kd)</small>
                                        </h3>
                                    </div>
                                </a>
                                <!-- END Widget -->
                            </div>
                            <div class="col-sm-6 col-lg-4">
                                <!-- Widget -->
                                <a routerLink="/directory" class="widget widget-hover-effect1">
                                    <div class="widget-simple">
                                        <div class="widget-icon pull-left themed-background-fire animation-fadeIn">
                                            <i class="gi gi-envelope"></i>
                                        </div>
                                        <h3 class="widget-content text-right animation-pullDown">
                                            <strong>{{homeData['directory']}} </strong>
                                            <small>Today Directory</small>
                                        </h3>
                                    </div>
                                </a>
                                <!-- END Widget -->
                            </div>
                            <div class="col-sm-6 col-lg-4">
                                <!-- Widget -->
                                <a routerLink="/blood" class="widget widget-hover-effect1">
                                    <div class="widget-simple">
                                        <div class="widget-icon pull-left themed-background-amethyst animation-fadeIn">
                                            <i class="fa fa-tint"></i>
                                        </div>
                                        <h3 class="widget-content text-right animation-pullDown">
                                             <strong>{{homeData['blood']}}</strong>
                                            <small>Today Blood Donor</small>
                                        </h3>
                                    </div>
                                </a>
                                <!-- END Widget -->
                            </div>
                            <div class="col-sm-6 col-lg-4">
                                <!-- Widget -->
                                <a routerLink="/historicalknowledge" class="widget widget-hover-effect1">
                                    <div class="widget-simple">
                                        <div class="widget-icon pull-left themed-background animation-fadeIn">
                                            <i class="fa fa-book"></i>
                                        </div>
                                        <h3 class="widget-content text-right animation-pullDown">
                                             <strong>{{homeData['history']}}</strong>
                                            <small>Today Historical Knowledge</small>
                                        </h3>
                                    </div>
                                </a>
                                <!-- END Widget -->
                            </div>
                            <div class="col-sm-6 col-lg-4">
                                <!-- Widget -->
                                <a routerLink="/videoinquiry" class="widget widget-hover-effect1">
                                    <div class="widget-simple">
                                        <div class="widget-icon pull-left themed-background animation-fadeIn">
                                            <i class="fa fa-youtube"></i>
                                        </div>
                                        <h3 class="widget-content text-right animation-pullDown visible-lg">
                                            <strong>{{homeData['video']}}</strong>
                                            <small>Today Video Ads</small>
                                        </h3>
                                    </div>
                                </a>
                                <!-- END Widget -->
                            </div>
                        </div>
                        <!-- END Mini Top Stats Row -->

