<ul class="breadcrumb breadcrumb-top">
    <li><a routerLink="/home">Home</a></li>
    <li><a routerLink="/newslink">Manage Historical Knowledge</a></li>
    <li>Add Historical Knowledge</li>
</ul>

<div class="block">
    <!-- Horizontal Form Title -->
    <div class="block-title">
        <div class="block-options pull-right">
            <a href="#" routerLink="/newslink"  class="btn btn-sm btn-primary" ><i class="fa fa-angle-left"></i></a>
        </div>
      <h2><strong>Add </strong> Historical Knowledge</h2>
    </div>
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
    <!-- Horizontal Form Content -->
    <form #NewslinkForm="ngForm" >
      <div class="form-group col-md-12">
            <label for="category" class="col-md-3">Name</label>
            <div class="col-md-6">

              <input type="text" name="name" [(ngModel)]="newNewslink.name" class="form-control">

            </div>
          </div>

      <div class="form-group col-md-12">
            <label for="category" class="col-md-3">Upload PDF</label>
            <div class="col-md-6">
              <input  (change)="fileChange($event)"  type="file"   id="inputGroupFile02" accept='application/pdf' name="tmpimage" [(ngModel)]="newNewslink.tmpimage" aria-describedby="inputGroupFileAddon02" ><!-- 
              <input type="text" name="url" [(ngModel)]="newNewslink.url" class="form-control">
 -->
            </div>
          </div>
      <div class="form-group col-md-12">
            <label for="category" class="col-md-3">Upload Thumbnail</label>
            <div class="col-md-6">
              <input  (change)="fileChange1($event)"  type="file"   id="inputGroupFile03" accept='image/*' name="tmpimage1" [(ngModel)]="newNewslink.tmpimage1" aria-describedby="inputGroupFileAddon03" ><!-- 
              <input type="text" name="url" [(ngModel)]="newNewslink.url" class="form-control">
 -->
            </div>
          </div>
        <div class="form-group form-actions">
            <div class="col-md-6 col-md-offset-3">
                  <button (click)="createNewslink()"
                        [disabled]="!NewslinkForm.form.valid || disableloading==true"
                        type="button"
                        class="btn btn-sm btn-primary" name="Submit"><span *ngIf="disableloading"> Loading...</span> Submit
                </button>&nbsp; &nbsp;
               
                <button type="reset" name="reset" class="btn btn-sm btn-warning"><i class="fa fa-repeat"></i> Reset</button>
        <br/><br/>
            </div>
        </div>
    </form>
    </div></div>
    <!-- END Horizontal Form Content -->
</div>
<!-- END Horizontal Form Block -->

    <!-- END Horizontal Form Title -->

